flexbox()
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex

append(values...)
  -webkit-box-flex values
  -moz-box-flex values
  -webkit-flex values
  -ms-flex values
  flex values

order(num)
  -webkit-box-ordinal-group num
  -moz-box-ordinal-group num
  -ms-flex-order num
  -webkit-order num
  order num

layout-presets(str)
  [{flex}]
    flex 1

  // (1-19) * 5 = 5-95%
  for i in 1..19
    [{str}=i * 5]
      layout-preset(i * 5 + '%')

  [{str}="33"], [{str}="34"]
    layout-preset(33.33%)

  [{str}="66"], [{str}="67"]
    layout-preset(66.66%)


layout-preset(value)
  flex 0 0 value
  max-width value