@import 'mixins'

.item
  width 150px
  height 150px
  background-color red
  border 1px solid black

.last
  order(6)

.layout
  flexbox()

.row
  flexbox()
  justify-content space-around
  flex-flow row wrap
  padding 5px

