.item {
  width: 150px;
  height: 150px;
  background-color: #f00;
  border: 1px solid #000;
}
.last {
  -webkit-box-ordinal-group: 6;
  -moz-box-ordinal-group: 6;
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}
.layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 5px;
}
