@import 'mixins'

.item
  width 150px
  height 150px
  background-color red
  border 1px solid black

.last
  order(6)

.row
  flexbox()
  flex-direction row
  justify-content space-around
  padding 5px